instant-lead-response/workflow.json
{
  "name": "Webhook to Sheets Gmail Telegram Flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d2f6357a-8c44-47fd-9c90-647a941a5e5b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "630bcd8a-8338-4ccf-b796-bfb340cf386a",
      "name": "Webhook",
      "webhookId": "d2f6357a-8c44-47fd-9c90-647a941a5e5b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4d63d38-db9b-4fe8-a06c-7678d6b42181",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "cf146f96-15f0-40ed-b5f8-45327252abe0",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "4001a970-294b-47ed-8b6a-aaa0239a9c14",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "6eedef7d-284f-479f-980f-f823c41ccc27",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xy1a6FjmL-MNZ1MorsFFgFKIEuAx9SR6pXr4OhnXY2s",
          "mode": "list",
          "cachedResultName": "Test Leades",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xy1a6FjmL-MNZ1MorsFFgFKIEuAx9SR6pXr4OhnXY2s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xy1a6FjmL-MNZ1MorsFFgFKIEuAx9SR6pXr4OhnXY2s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "message": "={{ $json.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        0
      ],
      "id": "ba70bb9d-6b13-4c04-bcdd-5fb0172bcb49",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0nsm0tnD2hxphsQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Thanks  {{ $json.name }}  — we got your message!",
        "message": "=<div style=\"background-color:#f6f5ef; padding:32px 16px; font-family:Segoe UI, Arial, sans-serif;\">\n  <div style=\"max-width:560px; margin:0 auto; background:#ffffff; border:1px solid #d8d6c9; border-radius:14px; overflow:hidden;\">\n\n    <!-- Header -->\n    <div style=\"background:#14532d; padding:26px 30px;\">\n      <div style=\"font-size:24px; font-weight:800; color:#eaf6ee; letter-spacing:-0.5px;\">\n        Pixel <span style=\"color:#22c55e;\">&amp;</span> Pine\n      </div>\n      <div style=\"font-size:13px; color:#c9e4d2; margin-top:4px;\">Websites &amp; digital tools for growing businesses</div>\n    </div>\n\n    <!-- Body -->\n    <div style=\"padding:30px;\">\n      <p style=\"font-size:16px; color:#1e2a23; margin:0 0 14px 0;\">\n        Hi <strong>{{ $json.name }}</strong>,\n      </p>\n      <p style=\"font-size:14.5px; color:#1e2a23; line-height:1.6; margin:0 0 18px 0;\">\n        Thanks for reaching out! We've received your message:\n      </p>\n\n      <!-- Quoted message -->\n      <div style=\"background:#f6f5ef; border-left:4px solid #22c55e; border-radius:0 8px 8px 0; padding:14px 16px; font-size:14px; color:#3a4a40; font-style:italic; margin:0 0 20px 0;\">\n        \"{{ $json.message }}\"\n      </div>\n\n      <p style=\"font-size:14.5px; color:#1e2a23; line-height:1.6; margin:0 0 24px 0;\">\n        A real person will get back to you within <strong>one business day</strong> — guaranteed.\n      </p>\n\n      <p style=\"font-size:14px; color:#6b7a70; margin:0;\">\n        Talk soon,<br>\n        <strong style=\"color:#14532d;\">The Pixel &amp; Pine Team</strong>\n      </p>\n    </div>\n\n    <!-- Footer -->\n    <div style=\"background:#fcfcfa; border-top:1px solid #eeece2; padding:14px 30px; font-size:11.5px; color:#9aa89f;\">\n      You received this email because you contacted us via our website on\n    </div>\n\n  </div>\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ],
      "id": "94cfa99b-b93b-4121-b058-5bcb01f6efd6",
      "name": "Send a message",
      "webhookId": "9ff2397d-0caa-4cfc-8511-bd09548555df",
      "credentials": {
        "gmailOAuth2": {
          "id": "hPUEdgEzIBq0rMBT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6134980827",
        "text": "=New Lead here :\nName : {{ $('Edit Fields').item.json.name }}\nEmail : {{ $('Edit Fields').item.json.email }}\nMessage :\n\"{{ $('Edit Fields').item.json.message }}\"\n\n---------------------\nEnd",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        0
      ],
      "id": "ba1a6d62-1078-4339-9d7c-a9c0096fe085",
      "name": "Send a text message",
      "webhookId": "4e9ce850-285e-4d19-98a6-444f51c092e7",
      "credentials": {
        "telegramApi": {
          "id": "auK8fE6lmh9hEhUt",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "35ca340d-8689-478f-a447-84f108b6a3b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c100f17efdd5d1d35d7c590d3f846fc64488d1d87eac39b7b3b8512f15ff6874"
  },
  "nodeGroups": [],
  "id": "9k4elqDtm1BpqvWy",
  "tags": []
}